@import './fonts.css';
@import 'tailwindcss';

@theme {
  --font-oks: 'Oks Free', sans-serif;
  --font-polonium: 'Polonium', sans-serif;
  --font-polonium-bold: 'Polonium Bold', sans-serif;
  --font-rostov: 'Rostov', serif;
  --font-usually: 'Usually', sans-serif;
  --font-usually-bold: 'Usually Bold', sans-serif;
}
